<h1>Amanda's Favorite Foods</h1>
<ul>
    <li> <%= link_to "Lasagna", "/lasagna" %> </li>
    <li>  <%= link_to "Tacos", "/tacos" %> </li>
    <li>  <%= link_to "Cheese Fries", "/cheesefries" %> </li>
</ul>
<%= link_to "Home", "/" %>
