<h1>You are on the main page</h1>
<p>get '/' => 'main#home'
get '/cubed/:number' => 'main#cubed'
get '/evenly/:number1/:number2' => 'main#evenly'
get '/length/:string' => 'main#length'
get '/palindrome/:string' => 'main#palindrome'
get '/madlib/:noun/:adjective/:adverb/:verb' => 'main#madlib'</p>
