<h1> Welcome to our Favorite Page</h1>
<h3> Authors: Heather, and Trey</h3>
<h4> <%= link_to "Heathers Favorite things", "/h_favorites" %></h4>
<h4> <%= link_to "Treys Favorite things", "/t_favorites" %></h4>