<h2>our favorites</h2>
<%@names.each do |key, value|%>
  <%=key%>
  <ul>
    <%value.each do |anime|%>
      <%=link_to anime, "/#{anime}"%>
    <%end%>
  </ul>
<%end%>
<img src="https://source.unsplash.com/user/kyyafuso">
