<h2>Your Lie in April</h2>
<p>A once prodigial child pianist has lost his will to play after the death</p>
<p>of his mother. One day, he meets a capricious violinist who inspires him</p>
<p>to let music back into his heart.</p>
<%=link_to 'Home', '/'%>

