<h2>Sword Art Online</h2>
<p>In the future, a revolutionary virtual reality system is developed that </p>
<p>takes the world by storm. However, upon entering this wonderful world the</p>
<p>players find that they are held against their will and forced to battle to</p>
<p>the death with unknown monsters</p>
<%=link_to 'Home', '/'%>

